/* search result */
.result {
    max-height: 200px;
    position: absolute;
    z-index: 20;
    top: -10px;
}
.result p{
    padding-left: 30px;
    font-weight: 500;
}

/* .course-tabs{
    border-bottom: 0 !important;
    border-bottom-left-radius: 0 !important;
} */